* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    font-size: 1.5rem;
}

.container {
    background-color: burlywood;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.principal {
    padding: 1rem;
    flex-grow: 1;
}

@media (max-width: 640px) {

    body {
        flex-direction: column-reverse;
    }
    
    .container {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
